<a href="https://colab.research.google.com/github/2303A51046/PDS_B16_1046/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
students=pd.DataFrame({
  'student_ID':['101','102','103','104'],
  'Name':['ravi','neha','kiran','sita']
})
marks=pd.DataFrame({
    'student_ID':['101','102','103','105'],
    'Marks':[85,90,78,88]

})
merged_df=pd.merge(students,marks,on='student_ID')
print("merged DataFrame:")
print(merged_df)
inner=pd.merge(students,marks,on='student_ID',how='inner')
print("inner join:")
print(inner)
left=pd.merge(students,marks,on='student_ID',how='left')
print("left join:")
print(left)
right=pd.merge(students,marks,on='student_ID',how='right')
print("right join:")
print(right)
outer=pd.merge(students,marks,on='student_ID',how='outer')
print("outer join:")
print(outer)

merged DataFrame:
  student_ID   Name  Marks
0        101   ravi     85
1        102   neha     90
2        103  kiran     78
inner join:
  student_ID   Name  Marks
0        101   ravi     85
1        102   neha     90
2        103  kiran     78
left join:
  student_ID   Name  Marks
0        101   ravi   85.0
1        102   neha   90.0
2        103  kiran   78.0
3        104   sita    NaN
right join:
  student_ID   Name  Marks
0        101   ravi     85
1        102   neha     90
2        103  kiran     78
3        105    NaN     88
outer join:
  student_ID   Name  Marks
0        101   ravi   85.0
1        102   neha   90.0
2        103  kiran   78.0
3        104   sita    NaN
4        105    NaN   88.0